$primary-color: #01D4E4;
$secondary-color: #5935FF;

$neutral-colors-100: #17171B;
$neutral-colors-200: #27272D;
$neutral-colors-300: #27272D;
$neutral-colors-400: #737380;
$neutral-colors-500: #F6F6F9;

$white: #fff;